@page
@model Diet.WebMVC.Pages.Regimens.DetailsModel
@inject IRegimenRepository repository;
@inject UserManager<AppUser> userManager;

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link rel="stylesheet" href="~/site/css/regimens.css" />
}

<div class="container mb-5">
    <div class="row diet-details">
        <div class="col-md-8">
            <div class="diet-description">
                <h2>@Model.Regimen.Name</h2>
                @Html.Raw(Model.Regimen.Description)
            </div>
        </div>
        <div class="col-md-4">
            <div class="diet-payment">
                <h3>گزینه‌های پرداخت</h3>
                @if (Model.Regimen.Price == 0 || await repository.RegimenBought(userManager.GetUserId(User), Model.Regimen.Id))
                {
                    <div class="price">خریداری شده</div>
                    <a class="btn btn-success" asp-page="./Download" asp-route-id="@Model.Regimen.Id">دانلود</a>
                }
                else
                {
                    <div class="price">@Model.Regimen.Price تومان</div>
                    <a class="btn btn-success" asp-page="Checkout" asp-route-id="@Model.Regimen.Id">پرداخت با کارت بانکی</a>
                }
            </div>
        </div>
    </div>
</div>
