@* @inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
 *@

<nav class="sidebar bg-dark text-white p-3">
    <div class="d-flex flex-column align-items-center mb-4">
        <img src="https://via.placeholder.com/80" alt="Profile Picture" class="rounded-circle mb-3">
        <h2 class="sidebar-title">پروفایل کاربری</h2>
    </div>
    <ul class="nav flex-column w-100">
        <li class="nav-item">
            <a class="nav-link text-white" asp-page="./Email">پروفایل</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#health">سلامت</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#diet">رژیم غذایی</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#payment">پرداخت</a>
        </li>
    </ul>
</nav>